 @font-face {
      font-family: 'glyphicons-halflings-regular';
      src: url('../fonts/glyphicons-halflings-regular.eot');
      src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
           url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
           url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
           url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
  }

@font-face {
      font-family: 'RobotoBlack';
      src: url('../fonts/RobotoBlack.eot');
      src: url('../fonts/RobotoBlack.eot') format('embedded-opentype'),
           url('../fonts/RobotoBlack.woff2') format('woff2'),
           url('../fonts/RobotoBlack.woff') format('woff'),
           url('../fonts/RobotoBlack.ttf') format('truetype'),
           url('../fonts/RobotoBlack.svg#RobotoBlack') format('svg');
}

@font-face {
      font-family: 'RobotoBold';
      src: url('../fonts/RobotoBold.eot');
      src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
           url('../fonts/RobotoBold.woff2') format('woff2'),
           url('../fonts/RobotoBold.woff') format('woff'),
           url('../fonts/RobotoBold.ttf') format('truetype'),
           url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

body {
  font-family: 'RobotoRegular';
  font-size: 12px;
  background-color: #ffffff;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #none;
    /* text-decoration: none; */
}
a:hover, a:focus{
  color: #none;
  outline: none;
}

input,
button,
select,
textarea {
  font-family: 'RobotoRegular';
}

h1, h2, h3, h4, h5, h6, ul, li {
  font-family: 'RobotoBold';
  margin:0;
  padding:0;
}

a:hover{
 	text-decoration: none;
}

.cls{
  clear: both;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'RobotoBlack';
  font-size: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'RobotoBlack';
  font-size: 28px;
  color: #45b374;
}

h4 {
  font-family: 'RobotoBlack';
  font-size: 28px;
  color: #45b374;
  border-bottom : 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.no-pad{
  padding: 0 !important;
}
.panel-text {
  font-family: 'RobotoRegular';
  font-size: 16px !important;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
  min-height: 135px;
}

.ban-icon {
  margin: 58px 0px 34px 43%;
}

.ban-career-icon {
  margin: 61px 0px 34px 43%;
}

.ban-recruiter-icon {
  margin: 57px 0px 34px 43%;
}

.border-line  {
  border-right: 1px solid #4a4a4a;
  height: 50%;
  position: absolute;
  top: 34%;
  right: 0;
}

.about-panel {
  width:  100%;
  margin: 0px;
  margin-bottom: 50px;
  background-color: #f7f7f7;
}

.relish-video {
  border-radius: 5px;
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 70px;
}

.mr-top {
  margin-top: 60px;
}

.hmtop {
  margin: -14px 0px;
}

.hmtmr {
  margin: 17px 0px;
}

.about-text {
  font-family: 'RobotoRegular';
  font-size: 17px;
  color: #696969;
  line-height: 27px;
  margin-bottom: 35px;
}

.rel-vid {
  height: 366px;
}

.prtnr-bg {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 65px;
}

.prev-icon {
  margin-top: 4px !important;
}

.prtenr-bg {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 70px;
}

.footer {
  background-color: #0f0f0f;
  height: 238px;
}

.footer-cont {
  text-align: center;
  margin: 0.1% auto;
}

.footer .social-bg{
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.footer .footer-bar{
  display: inline-block;
  margin-top: 40px;
}
.footer .copy-text{
 /* display: inline-block;
  position: relative;
  top: -1px;*/
  margin-left: 10px;
  color: #ffffff;
  font-family: 'RobotoRegular';
  font-size: 15px;
  margin-top: 10px;
}
.footer ul{
  display: inline-block;
  float: left;
  margin-bottom: 10px;
}
.footer ul li{
  float: left;
  border-right:1px solid #666;
  padding: 0px 10px;
  line-height: 10px;
  list-style: none;
}
.footer ul li a{
  font-family: 'RobotoBold';
  font-size: 15px;
  color: #ffffff;
}
.footer ul li a:hover{
  color: #45b374;
}
.footer ul li:last-child{
  border:0;
}
.leaderbord .vote{
  margin: 0;
}

.mrn-rt {
  margin-right: 15px;
}

.modal-marg {
  width: 525px;
}

.model-radius {
  border-radius: 1px;
}

.modal-head {
  background-color: #e3e3e3;
  height: 76px;
  font-size: 22px;
  color: #696969;
  font-family: 'RobotoBlack';
  text-align: center;
}

.modal-title {
  font-size: 22px !important;
  color: #696969 !important;
  font-family: 'RobotoBlack' !important;
  line-height: 45px;
}

 .form-ctl {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0px 15px;
  margin-top: -13px;
  font-size: 16px;
  margin-bottom:  30px;
  line-height: 1.42857143;
  font-family: 'RobotoRegular';
  color: #a09f9f;
  background-image: none;
  border: 1px solid #d8d8d8;
  border-radius: 0px; 
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

 .form-ctlr {
  display: block;
  width: 100%;
  height: 46px;
  padding: 0px 15px;
  margin-top: -13px;
  font-size: 16px;
  margin-bottom:  14px;
  line-height: 1.42857143;
  font-family: 'RobotoRegular';
  color: #a09f9f;
  background-image: none;
  border: 1px solid #d8d8d8;
  border-radius: 0px; 
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-mid-txt {
  margin-top: 32px;
}

.help-text {
  font-family: 'RobotoRegular';
  font-size: 13px;
  color: #989898;
  float: left;
  line-height: 25px;
}

.modal-foot {
  height: 81px;
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  border: 1px solid #62b786;
  padding: 0px 0px;
  margin-top: 20px;
}

.modal-btn {
  font-family: 'RobotoBlack';
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 81px;
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  outline: none !important;
}

.md-tp {
  margin-top: 10px;
  margin-bottom: 10px;
}


.md-top {
  margin-top: 10px;
}


/*select-box-starts*/
                                     /*select-box*/
  .sbHolder {
      background-color: #ffffff;
      border: solid 1px #d8d8d8;
      font-family: 'RobotoRegular';
      font-size: 16px;
      font-weight: normal;
      height: 46px;
      position: relative;
      width: 100%;
  }

  .sbSelector {
      display: block;
      height: 40px;
      left: 0;
      line-height: 30px;
      outline: none;
      overflow: hidden;
      position: absolute;
      text-indent: 10px;
      top: 0;
      width: auto;
      float: right;
      margin-left: -5px;
  }

  .sbHolder:focus {
    outline: 0;
  }

  .sbSelector:link, .sbSelector:visited, .sbSelector:hover {
      outline: none;
      text-decoration: none;
      font-family: 'RobotoRegular';
      color: #a09f9f;
      font-size: 16px;
      padding-left: 9px;
      line-height: 42px;
  }

  .sbToggle {
      background: url(../images/select-arrow.png) no-repeat;
      display: block;
      height: 28px;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    margin: 20px 0px 0px 0px;
    float: left;
    margin-right: 15px;
  }

  .sbOptions {
      background-color: #e3e3e3;
      border: solid 1px #e8e8e8;
      list-style: none;
      left: -1px;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 44px !important;
      width: 100%;
      z-index: 1;
      overflow-y: auto;
  }

  .sbOptions li {
      padding: 0 7px;
  }

  .sbOptions a {
      border-bottom: solid 1px #d8d8d8;
      display: block;
      outline: none;
      padding: 7px 0 7px 3px;
  }

  .sbOptions a:link, .sbOptions a:visited {
      color: #12131a;
      text-decoration: none;
      font-family: 'RobotoRegular';
      color: #a09f9f;
      font-size: 16px;
  }

  .sbOptions li.last a {
      border-bottom: none;
  }

  .sbOptions .sbDisabled {
      border-bottom: dotted 1px #515151;
      color: #999;
      display: block;
      padding: 7px 0 7px 3px;
  }

  .sbOptions .sbGroup {
      border-bottom: dotted 1px #515151;
      color: #EBB52D;
      display: block;
      font-weight: bold;
      padding: 7px 0 7px 3px;
  }

  .sbOptions .sbSub {
      padding-left: 17px;
  }
/*select-box-ends*/

.panel-btn {
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  height: 42px;
  border-radius: 6px;
  border-color: #62b786;
  font-family: 'RobotoBlack';
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  outline: none !important;
}

.social-icns {
  width: 55px;
  height: 55px;
}

/*accordian-starts*/

.main-collapse-head {
    background-color: #434c56 !important;
    border-color: #434c56 !important;
    border-radius: 0px;
    color: #ffffff !important;
    height: 44px;
    padding: 14px 15px !important;
}

.accor-head {
  font-family:  'RobotoBlack';
  font-size:  15px;
  color: #ffffff;
  border-bottom:  0px !important
}

.accor-icon {
  width: 40px;
  float: left;
  margin-top: -3px;
}

.collapsed .collapse-minus {
    background: url("../images/close-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 6px;
}

.collapse-minus {
    background: url("../images/open-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 20px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    width: 12px;
}

.panel-acc {
  background-color: #ececec;
  border-radius: 0px !important;
}

.acc-body-text {
  font-family:  'RobotoRegular';
  font-size: 15px;
  color: #5c5c5c;
  text-align:  center;
  line-height:  22px;
}

.acc-mrtop {
  margin-top: 53px;
  padding: 0px 0px !important;
  display: none;
}

.acc-head {
  float: left;
  margin-left: 10px;
}

/*accordian-ends*/

.mid-fort {
  width:  100%;
  float: left; 
  margin-top: -12px; 
  margin-bottom:  20px;
}

.forgot-text {
  text-align: right;
  font-family: 'RobotoRegular';
  font-size: 13px;
  color: #b6b6b6;
  text-decoration: underline;
}

.forgot-text a {
  font-family: 'RobotoRegular';
  font-size: 13px;
  color: #b6b6b6;
}

.forgot-text a:hover {
  color: #5ec68b;
}

.side-padd {
  padding: 0px 0px !important;
}

.remb-text {
  text-align: left;
  font-family: 'RobotoRegular';
  font-size: 13px;
  color: #b6b6b6;
}

.log-mrt {
  margin-top: 0px !important;
}

.rhts {
  display: inline-block;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}


input[type=checkbox].css-checkbox + label.css-label {
  font-weight: normal;
  padding-left: 32px;
  height:28px;
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0px;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
  float: left;
}
.checkChecked{
  background-image:url(../images/checkbox-button.png) !important;
  position: relative;
  z-index: 9;
  height: 28px;
  width: 28px !important;
  margin-left:-6px;
}
.editAccount .checkChecked {
  margin-left:0px !important;
}
.checkCssChecked{
  background-image:url(../images/checkbox-button.png) !important;
  position: relative;
  z-index: 9;
  height: 28px;
  min-width: 28px !important;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -32px;
}
.css-label{ background-image:url(../images/checkbox-button.png); }

.chk-mopp {
  margin-top: 0px !important;
}

.ckh-foot {
  margin-top: -5px;
}

.crou-logo {
  text-align: center;
}

.crou-logo img {
  width: 56px;
  height: 56px;
}

.mba-btn-info {
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  height: 42px;
  width: auto;
  border-radius: 6px;
  border-color: #62b786;
  font-family: 'RobotoBlack';
  font-size: 15px;
  color: #ffffff !important;
  text-align: center;
  line-height: 30px;
  padding: 0px 20px;
  outline: none !important;
}

.mba-btn-info:hover {
  background: #57bb82 !important;
  color: #e8e8e8 !important;
}

.empp-btn-info {
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  height: 42px;
  width: auto;
  border-radius: 6px;
  border-color: #62b786;
  font-family: 'RobotoBlack';
  font-size: 15px;
  color: #ffffff !important;
  text-align: center;
  line-height: 30px;
  padding: 0px 30px;
  outline: none !important;
}

.empp-btn-info:hover {
  background: #57bb82 !important;
  color: #e8e8e8 !important;
}

.career-btn-info {
  background: rgb(152, 210, 177);
  background: -moz-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -webkit-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -o-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: -ms-linear-gradient(90deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  background: linear-gradient(180deg, rgb(152, 210, 177) 0%, rgb(90, 197, 136) 100%);
  height: 42px;
  width: auto;
  border-radius: 6px;
  border-color: #62b786;
  font-family: 'RobotoBlack';
  font-size: 15px;
  color: #ffffff !important;
  text-align: center;
  line-height: 30px;
  padding: 0px 30px;
  outline: none !important;
}

.career-btn-info:hover {
  background: #57bb82 !important;
  color: #e8e8e8 !important;
}

.btn-wdh {
  width: auto !important;
}

.inst-ptnr {
  font-family: 'RobotoBold';
  font-size: 22px;
  color: #45b374;
  margin-top: 35px;
}

.empl-pnll {
  padding: 0px 0px !important;
  margin-top: 20px;
}

.emp-list {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 32px;
}

.emp-list ul{
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  width: 100%;
  list-style-type: disc;
}
.emp-list ul li{
  float: left;
  padding: 0px 0px;
  line-height: 10px;
  /*list-style: none;*/
  font-size: 18px;
  color: #696969;
  font-family: 'RobotoRegular';
  line-height: 40px;
  width: 18%;
  margin-right: 52px;
  margin-left: 20px;
}
.emp-list ul li a{
  font-family: 'RobotoBold';
  font-size: 18px;
  color: #696969;
}
.emp-list ul li a:hover{
  color: #45b374;
}

.empp-list {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 32px;
}

.empp-list ul{
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  width: 100%;
  list-style-type: disc;
}
.empp-list ul li{
  float: left;
  padding: 0px 0px;
  line-height: 10px;
  /*list-style: none;*/
  font-size: 18px;
  color: #696969;
  font-family: 'RobotoRegular';
  line-height: 40px;
  width: 95%;
  margin-right: 52px;
  margin-left: 20px;
}
.empp-list ul li a{
  font-family: 'RobotoBold';
  font-size: 18px;
  color: #696969;
}
.empp-list ul li a:hover{
  color: #45b374;
}


.com-soon {
  font-size: 22px;
  color: #8c8c8c;
  font-family: 'RobotoBold';
  text-align: center;
  margin-bottom: 20px;
}

.com-soon span {
  display: block;
}

.sel-mt {
  margin-top: -14px;
}


@media screen and (max-width: 1024px){ 
  .mid-bn-width {
    width: 33%;
    float: left;
  }

  .mid-ban-width {
    width: 33%;
    float: left;
  }

}

@media screen and (max-width: 768px){
    .rel-vid {
      height: auto;
    }

    .about-text {
      font-size: 13px;
      text-align: center;
      padding: 0px 10px;
      line-height: 21px;
      margin-bottom: 20px;
    }

    .hmtop {
      font-size: 19px;
      text-align: center;
      margin-bottom: 15px;
    }

    .panel-btn {
      height: 34px;
      border-radius: 0px;
      font-size: 11px;
      line-height: 22px;
    }

    .hmtmr {
      margin: 17px 0px;
      font-size: 19px;
      text-align: center;
    }

    .about-panel {
      margin-bottom: 25px;
      width: 100%;
    }

    h4 {
      font-size: 19px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 4px;
      text-align: center;
    }
    .prtnr-bg {
      margin-bottom: 29px;
    }

    .prtenr-bg {
      margin-bottom: 29px;
    }

    .lower-caro {
      /*height: auto !important;*/
    }

    .social-icns {
      width: 40px;
      height: 40px;
    }

    .footer .social-bg {
      margin-top: 22px;
    }

    .footer ul li {
      border: none;
      width: 100%;
    }

    .footer .footer-bar {
      margin-top: 36px;
    }

    .footer ul li a {
      font-size: 14px;
      line-height: 30px;
    }

    .footer {
      height: auto;
    }

    .footer .copy-text {
      margin-bottom:  25px;
      padding: 0px 30px;
      font-size:  14px;
      line-height:  25px;
    }

    .abt-imggg {
      padding: 0px 0px !important;
    }

    .mrg-both {
      margin-right: 0px;
      margin-left: 0px;
    }

    .modal-marg {
        width: auto;
    }

    .modal-head {
      height: 50px;
    }

    .modal-title {
      font-size: 18px !important;
      line-height: 20px;
    }

    .modal-foot {
        height: 50px;
    }

    .modal-btn {
      font-size: 18px !important;
      height: 50px;
    }

    .acc-mrtop {
      margin-top: 53px;
      padding: 0px 0px !important;
      display: block;
    }

    .mr-top {
      margin-top: 0px;
    }

    .panel-group {
        margin-bottom: 0px;
    }

    .forgot-text {
      text-align: left;
    }

    .rhts {
      display: block;
    }

    .inst-ptnr {
      font-size: 17px;
      margin-top: 12px;
    }

    .empl-pnll {
      padding: 0px 0px !important;
      margin-top: 4px;
    }

    .emp-list ul li {
      font-size: 15px;
      line-height: 26px;
      width: 26%;
    }

    .emp-list {
     margin-bottom: 0px;
    }

    .emp-list ul {
      margin-bottom: 0px;
    }

    .empp-list ul li {
      font-size: 15px;
      line-height: 26px;
    }

    .empp-list {
     margin-bottom: 0px;
    }

    .empp-list ul {
      margin-bottom: 0px;
    }

    .com-soon {
      font-size: 19px;
      margin-bottom: 4px;
    }

    .btn-wdh {
      width: 33% !important;
      float: left;
    }

    .mba-btn-info {
      font-size: 14px;
      color: #ffffff !important;
      text-align: center;
      line-height: 25px;
      padding: 0px 25px;
      height: 42px;
    }

    .empp-btn-info {
       font-size: 14px;
       color: #ffffff !important;
       text-align: center;
       line-height: 25px;
       padding: 0px 17px;
       height: 42px;
    }

    .career-btn-info {
       font-size: 14px;
       color: #ffffff !important;
       text-align: center;
       line-height: 25px;
       padding: 0px 15px;
       height: 42px;
    }

    .relish-video {
      margin-bottom: 24px;
    }



}

@media screen and (max-width: 480px){
  .rel-vid {
    height: auto;
  }

  .about-text {
    font-size: 13px;
    text-align: center;
    padding: 0px 10px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .hmtop {
    font-size: 19px;
    text-align: center;
    margin-bottom: 2px;
  }

  .panel-btn {
    height: 34px;
    border-radius: 0px;
    font-size: 11px;
    line-height: 22px;
  }

  .hmtmr {
    margin: 17px 0px;
    font-size: 19px;
    text-align: center;
  }

  .about-panel {
    margin-bottom: 25px;
    width: 100%;
  }

  h4 {
    font-size: 19px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 4px;
    text-align: center;
  }
  .prtnr-bg {
    margin-bottom: 29px;
  }

  .prtenr-bg {
    margin-bottom: 29px;
  }

  .lower-caro {
    /*height: auto !important;*/
  }

  .social-icns {
    width: 40px;
    height: 40px;
  }

  .footer .social-bg {
    margin-top: 22px;
  }

  .footer ul li {
    border: none;
    width: 100%;
  }

  .footer .footer-bar {
    margin-top: 36px;
  }

  .footer ul li a {
    font-size: 14px;
    line-height: 30px;
  }

  .footer {
    height: auto;
  }

  .footer .copy-text {
    margin-bottom:  25px;
    padding: 0px 30px;
    font-size:  13px;
    line-height:  25px;
  }

  .abt-imggg {
    padding: 0px 0px !important;
  }

  .mrg-both {
    margin-right: 0px;
    margin-left: 0px;
  }

  .modal-marg {
      width: auto;
  }

  .modal-head {
    height: 50px;
  }

  .modal-title {
    font-size: 18px !important;
    line-height: 20px;
  }

  .modal-foot {
      height: 50px;
  }

  .modal-btn {
    font-size: 18px !important;
    height: 50px;
  }

  .acc-mrtop {
    margin-top: 53px;
    padding: 0px 0px !important;
    display: block;
  }

  .mr-top {
    margin-top: 0px;
  }

  .panel-group {
      margin-bottom: 0px;
  }

  .forgot-text {
    text-align: left;
  }

  .rhts {
    display: block;
  }

  .inst-ptnr {
    font-size: 17px;
    margin-top: 12px;
  }

  .empl-pnll {
    padding: 0px 0px !important;
    margin-top: 4px;
  }

  .emp-list ul li {
    font-size: 15px;
    line-height: 26px;
  }

  .emp-list {
   margin-bottom: 0px;
  }

  .emp-list ul {
    margin-bottom: 0px;
  }

   .empp-list ul li {
    font-size: 15px;
    line-height: 26px;
    width: 95%;
  }

  .empp-list {
   margin-bottom: 0px;
  }

  .empp-list ul {
    margin-bottom: 0px;
  }

  .com-soon {
    font-size: 19px;
    margin-bottom: 4px;
  }

  .btn-wdh {
    width: 33% !important;
    float: left;
  }

  .mba-btn-info {
    font-size: 11px;
    color: #ffffff !important;
    text-align: center;
    line-height: 25px;
    padding: 0px 13px;
    height: 32px;
  }

  .empp-btn-info {
     font-size: 11px;
     color: #ffffff !important;
     text-align: center;
     line-height: 25px;
     padding: 0px 10px;
     height: 32px;
  }

  .career-btn-info {
     font-size: 11px;
     color: #ffffff !important;
     text-align: center;
     line-height: 25px;
     padding: 0px 14px;
     height: 32px;
  }

  .relish-video {
    margin-bottom: 24px;
  }

  .minpdd {
    padding: 0px 15px !important;
  }

  .no-pad{
    padding: 0 !important;
  }
}

@media screen and (max-width: 320px){
 .rel-vid {
   height: auto;
 }

 .about-text {
   font-size: 13px;
   text-align: center;
   padding: 0px 10px;
   line-height: 21px;
   margin-bottom: 20px;
 }

 .hmtmr {
   margin: 17px 0px;
   font-size: 19px;
   text-align: center;
 }

 .hmtop {
   font-size: 19px;
   text-align: center;
   margin-bottom: 2px;
 }

 .panel-btn {
   height: 34px;
   border-radius: 0px;
   font-size: 11px;
   line-height: 22px;
 }

 .about-panel {
   margin-bottom: 25px;
   width: 100%;
 }

 h4 {
   font-size: 19px;
   border-bottom: 1px solid #e8e8e8;
   padding-bottom: 4px;
   text-align: center;
 }
 .prtnr-bg {
   margin-bottom: 29px;
 }

 .prtenr-bg {
   margin-bottom: 29px;
 }

 .lower-caro {
   /*height: auto !important;*/
 }

 .social-icns {
   width: 40px;
   height: 40px;
 }

 .footer .social-bg {
   margin-top: 22px;
 }

 .footer ul li {
   border: none;
   width: 100%;
 }

 .footer .footer-bar {
   margin-top: 36px;
 }

 .footer ul li a {
   font-size: 14px;
   line-height: 30px;
 }

 .footer {
   height: auto;
 }

 .footer .copy-text {
   margin-bottom:  25px;
   padding: 0px 30px;
   font-size:  13px;
   line-height:  25px;
 }

 .abt-imggg {
   padding: 0px 0px !important;
 }

 .mrg-both {
   margin-right: 0px;
   margin-left: 0px;
 }

 .modal-marg {
     width: auto;
 }

 .modal-head {
   height: 50px;
 }

 .modal-title {
   font-size: 18px !important;
   line-height: 20px;
 }

 .modal-foot {
     height: 50px;
 }

 .modal-btn {
   font-size: 18px !important;
   height: 50px;
 }

 .acc-mrtop {
   margin-top: 53px;
   padding: 0px 0px !important;
   display: block;
 }

 .mr-top {
   margin-top: 0px;
 }

 .panel-group {
     margin-bottom: 0px;
 }

 .forgot-text {
   text-align: left;
 }

 .rhts {
   display: block;
 }

 .inst-ptnr {
   font-size: 17px;
   margin-top: 12px;
 }

 .empl-pnll {
   padding: 0px 0px !important;
   margin-top: 4px;
 }

 .emp-list ul li {
   font-size: 15px;
   line-height: 26px;
   width: 96%;
   margin-right: 52px;
 }

 .emp-list {
  margin-bottom: 0px;
 }

 .emp-list ul {
   margin-bottom: 0px;
 }

 .empp-list ul li {
   font-size: 15px;
   line-height: 26px;
 }

 .empp-list {
  margin-bottom: 0px;
 }

 .empp-list ul {
   margin-bottom: 0px;
 }

 .com-soon {
   font-size: 19px;
   margin-bottom: 4px;
 }

 .btn-wdh {
   width: 30% !important;
   float: left;
 }

 .mba-btn-info {
   font-size: 11px;
   color: #ffffff !important;
   text-align: center;
   line-height: 25px;
   padding: 0px 7px;
   height: 32px;
   margin-left: 8px !important;
}

 .empp-btn-info {
    font-size: 11px;
    color: #ffffff !important;
    text-align: center;
    line-height: 25px;
    padding: 0px 4px;
    height: 32px;
 }

 .career-btn-info {
    font-size: 11px;
    color: #ffffff !important;
    text-align: center;
    line-height: 25px;
    padding: 0px 8px;
    height: 32px;
 }

 .relish-video {
   margin-bottom: 24px;
 }


}
.modal-open .navbar{
    margin-left: -15px;
}

.relish-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.relish-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

